.weather-card {
  background-color: #444760;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 120px;
}

.weather-card .day {
  font-weight: bold;
  margin-bottom: 10px;
}

.weather-card .weather-icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.weather-card .temp-range {
  font-weight: bold;
}

.weather-card .temp-max {
  font-size: 1.2em;
  color: #f7f7f7;
}

.weather-card .temp-min {
  font-size: 0.9em;
  color: #a0a0a0;
  margin-left: 8px;
}