.weather-card {
  background-color: #444760;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s; 
  flex: 1;
  cursor: pointer;
  min-width: 120px;
}

.weather-card:hover {
  transform: translateY(-5px);
  transition: 0.5s;
  background-color: #555870;
}

.weather-card.selected {
  border: 2px solid #007bff;
  transform: translateY(-5px);
}

.day {
  margin-bottom: 5px;
  font-weight: bold;
}

.weather-icon {
  font-size: 2em;
  margin: 5px 0;
}

.temp-range {
  display: flex;
  justify-content: space-between;
}

.temp-max {
  font-weight: bold;
}

.temp-min {
  color: #a0a0a0;
  margin-left: 5px;
}
